body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    background-color: #f9f4e5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#maze-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #d3b29d;
    border-radius: 10px;
    padding: 10px;
}

#menu {
    background-color: #9c7a4c;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#menu h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

button {
    background-color: #6a4f37;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a4131;
}

canvas {
    border: 2px solid #4e3629;
}
